@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html {
  height: 100%;
  width: 100%;
  background-color: rgb(1, 90, 192);
  margin: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;

}

h1 {
  color: aliceblue;
  font-size: 1.5rem;
  font-family: "Roboto Serif", serif;
  margin: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  height: 600px;
  flex-wrap: wrap;
  columns: 2;

  padding: 1rem;
  background-color: aliceblue;
  border-radius: 0.5rem;
}

li {
  margin: 1rem;
  font-size: 2rem;
}

a {
  color: rgb(1, 90, 192);
}

a:hover {
  color: rgb(64, 0, 128);
}