* {
  text-decoration: none;
}

html {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.menu-navegacao {
  display: flex;
  flex-direction: column;
}

#ancora {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  color: darkblue;
  font-size: 3rem;
  font-weight: bold;
}

#ancora:hover {
  color: blue;
  text-decoration: underline;
}
