@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pixelify+Sans:wght@400..700&family=Playwrite+CU:wght@100..400&display=swap");

html {
  height: 100%;
  width: 100%;
}

.paragraph-container {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#first {
  background-color: #024059;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  font-family: "Montserrat Alternates", sans-serif;
}

#second {
  background-color: #026873;
  padding: 1rem;
  border: 0.5rem solid #04bf8a;
  border-radius: 0 1rem;
  font-family: "Pixelify Sans", sans-serif;
}

#third {
  background-color: #04bf8a;
  color: #024059;
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-decoration: underline;
  padding: 1rem 0 3rem 0;
}

#fourth {
  background-color: #025940;
  padding: 2rem 0.5rem 0.5rem 0;
  font-family: "Playwrite CU", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  text-align: end;
  border: 3px dotted greenyellow;
}
